.odd-number,
.odd-unique {
    background-color: lightpink;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.odd-unique {
    font-size: 24px;
}

#number-2 {
    color: blue;
    font-size: 36px;
}

#number-4 {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}

