@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

ul {
  list-style-type: none;
}

a {
  color: gray;
  text-decoration: none;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.header,.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.footer {
  background-color: #eeeeee;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  margin-bottom: 0px;
  width: 100%;
  height: 50px;
  text-align: center;
}


.left-links,.right-links {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-left: 20px;
}




.footer,.right-links {
  display: flex;
  padding-right: 20px;
  /*justify-content: space-around;
  /*justify-content: flex-end;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  top: 8px;
  right: 16px;*/

}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
