body {
  background: #eee;
  font-family: sans-serif;
}

div {
  border: 50px;
  border-color: white;
  margin: 8px;
  padding: 20px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  margin: 8px;
  padding: 8px;
  border: 20px;
}

.content {
  background: #e3f4ff;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 8px;
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  padding: 8px 25px;
  margin: auto;
}