body {
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  flex-direction: column;
}

a {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

ul {
  list-style-type: none;
  line-height: 40px;
  margin-top: 0;
  margin-left: 0;
  padding: 0;
}

.header {
  display: flex;
  height: 72px;
  background: darkmagenta;
  color: white;
  font-weight: 900;
  font-size: 32px;
  align-items: center;
  padding-left: 16px;
}

.footer {
  display: flex;
  height: 72px;
  background: #eee;
  color: darkmagenta;
  align-items: center;
  justify-content: center;
}


.body {
  display: flex;
  flex-grow: 1;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  flex-shrink: 0;
  padding: 16px;
}

.container {
  display: flex;
  padding: 32;
  flex-wrap: wrap;
}

.card {
  display: flex;
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  width: 250px;
  padding: 16px;
  margin: 16px;
}