.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  margin: 8px;
  padding: 4px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-links {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  
}

.right-links {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: inline-block;
}

li {
  margin: 8px;
  display: inline-block;
}

a {
  font-size: 22px;
  background: white;
  /*margin: 8px;*/
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}